@import "../scss/animaciones";
@import "../scss/fuentes";
@import "../scss/_colores.scss";
@import "../scss/breakpoints";


.pb-video-container {
    padding-top: 20px;
}

.pb-video-frame {
    transition: width 2s, height 2s;
}

.pb-row {
    margin-bottom: 10px;
}

.center{
    align-items: center;
}

